h1 {
  color: gray;
  font-size: 30px;
}

#troublekids{
height: 450px;
width: 500px;
}

#shortsentence{
  color: gray;
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
}

#description{
color: blue;
font-size: 40px;
}
