h1 {
  color: purple;
  font-size:30px;
  font-style: italic;
}

#troublekids{
height: 450px;
width: 500px;
}

#shortsentence{
  color: purple;
  font-size: 100px;
  font-style: italic;
  font-family: cursive;
}
